[FORMAT]
2.0

[DATA FILE]
data/lssCircle2D.h
#data/lssElliptic2D.h
#data/lssSquare2D.h
#data/lssMultipleInterfaces2D.h

#data/test2D.h
#data/test3D.h

#data/lssVortex2D.h
#data/lssCircle3D.h
#data/lssSBRotation.h

[MESH FILE]
../../meshes/lssTest1Tri2D.msh
#../../meshes/lssTri.msh
#../../meshes/lssQuad.msh
#../../meshes/lssTet.msh
#../../meshes/lssHex.msh
#BOX

[MESH DIMENSION]
2
#3

[ELEMENT TYPE] # number of edges
3
#4
#6
#12

[BOX NX]
21

[BOX NY]
21

[BOX NZ]
11


[BOX DIMX]
4

[BOX DIMY]
4

[BOX DIMZ]
4


[BOX BOUNDARY FLAG]
1

[POLYNOMIAL DEGREE]
5

[THREAD MODEL]
CUDA
#Serial

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[SOLVER TYPE]
# ADVECTION
REDISTANCE


[ADVECTION TYPE]
CUBATURE
#COLLOCATION

[FLOW TYPE]
#INCOMPRESSIBLE
COMPRESSIBLE

[TIME RECONSTRUCTION]
ENO2
#ENO3

# HJS:1  CNS:2  INS:3 
[STABILIZATION SOLVER TYPE]
1

# Klockner: 1 Persson: 2
[DETECTOR TYPE]
1

# Filter: 1, Limiter: 2, Artdiff: 3, Subcell: 4
[STAB TYPE]
4

#{0,1,....,N-1}
#[FILTER CUTOFF]
#0

# Even Number {2, 4, 8,...}
#[FILTER ORDER]
#2

[SUBCELL NUMBER]
6

[SUBCELL MINOR GRID]
#EQUISPACED
WARPBLEND

[TIME INTEGRATOR]
#DOPRI5
LSERK4

[CFL NUMBER]
0.01

[START TIME]
0

[FINAL TIME]
1.5

[OUTPUT INTERVAL]
0.1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
vortex
